body {
  font-family: 'Roboto', sans-serif;
}

header{
  min-height: 7em;
  margin: 0 auto;
  background: linear-gradient(45deg, red, blue);
  color: white;
  padding-bottom: 1em;
}

h1 {
  text-align: center;
  font-size: 4em;
  margin-bottom: 0.0em;
  margin-top: 0.25em;
  font-family: 'Trochut', cursive;
}

p {
  width: 90%;
  margin: 0px auto;
  margin-bottom: 0.5em;
  text-align: center;
}

main {
  width: 100%;
  margin: 0px auto;
  /* THANK YOU https://wallpapercave.com/starwars-background */
  background-image: url('../img/stars.jpg');
  background-color: #cccccc;
  background-size: contain;
  min-height: 20em;
  color: white;
  font-size: 1.5em;
}

form {
  width: 50%;
  margin: 0px auto;
  margin-bottom: 1em;
  padding-left: 20%;
}

form label {
  font-size: 0.8em;
}

img {
  width: 25%;
  border: 2mm ridge gray;
  vertical-align: middle;
  padding: 0.5em;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  margin-left: 1em;
}

#imageContainer {
  margin: 0px auto;
  text-align: center;
}

footer {
  min-height: 2em;
  margin: 0px auto;
  background: linear-gradient(-45deg, red, blue);
}

figure {
  width: 25%;
  display: inline-block;
  margin: 0px auto;
  margin-bottom: 1em;
}

figure img {
  margin-bottom: 0.5em;
  margin-top: 0.5em;
  margin-left: 0.5em;
}